:root {
 background-color: black;
 scroll-behavior: smooth;
}
.app {
    
    background-color: black;
    color: azure;
}

.sub-boxes {
    border-radius: 10px;
    display: flex;
    background-color: darkcyan;    
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }
  ::-webkit-scrollbar {
    scrollbar-width: none;
  }